h1, h2 {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.login-form {
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  max-width: 330px;
  padding: auto;
  margin: auto;
}

Label {
  text-transform: uppercase;
  color: #fff;
}

h1 {
  text-align: center;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
}

body {
  background-color: blue !important;
}