<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css" />

  <title>Document</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-4">Find Your Group!</h1>
        <h2>Split the cost of a variety of web based services</h2>
        <hr class="my-4">
        <a class="btn btn-info btn-sm btn-sub lm" href="#" role="button">Add New Group</a>
      </div>
    
  <div class="container">
    <div class="row">
      <div class="col-lg-6 .offset-md-2">
        <h2>Create a New Group of your Choice:</h2>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Service Provider</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Price</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
              <label for="exampleInputPassword1">Service URL Address</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Choose your plan</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-lg-12 footer">
          <footer class="fixed-bottom">&copy; 2019 All rights reserved</footer>
        </div>
      </div>
    </div>
</body>
</html>