<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css" />
  <title>Movies Compiler</title>
</head>


<!-- NAVIGATION BAR -->

<body>
  <header class="header">
    <nav class="nav nav--tours">
      <a href="#" class="nav__el">All movies</a>
      <form class="nav__search">
        <button class="nav__search-btn">
          <svg>
            <use xlink:href="img/icons.svg#icon-search"></use>
          </svg>
        </button>
        <input type="text" placeholder="Search movies" class="nav__search-input" />
      </form>
    </nav>
    <nav class="nav nav--user">
      <a href="#" class="nav__el">My subscriptions</a>
      <!-- <a href="#" class="nav__el">
          <img src="img/user.jpg" alt="User photo" class="nav__user-img" />
          <span>Jonas</span>
        </a> -->

      <button class="nav__el">Log in</button>
      <button class="nav__el nav__el--cta">Sign up</button>
    </nav>
  </header>
  <div class="jumbotron">
    <h1 class="display-4">Find Your Group!</h1>


    <h2>Split the cost of a variety of web based services</h2>
    <hr class="my-4">
    <a class="btn btn-info btn-sm btn-sub lm" href="#" role="button">Add New Group</a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 card-outline">
        <div class="card">
          <div class="card__header">
            <div class="card__picture">
              <div class="card__picture-overlay">&nbsp;</div>
              <img src="netflix.png" alt="">
            </div>
            <h3 class="heading-tertirary">
              <span>Netflix</span>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary btn-sub">View More >></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-outline">
        <div class="card">
          <div class="card__header">
            <div class="card__picture">
              <div class="card__picture-overlay">&nbsp;</div>
              <img src="spotify.png" width="370" height="230" alt="Spotify Image">
            </div>
            <h3 class="heading-tertirary">
              <span>Spotify</span>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary btn-sub">View More >></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-outline">
        <div class="card">
          <div class="card__header">
            <div class="card__picture">
              <div class="card__picture-overlay">&nbsp;</div>
              <img src="apple.jpeg" width="370" height="230" alt="Apple Music Image">
            </div>
            <h3 class="heading-tertirary">
              <span>Apple</span>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary btn-sub">View More >></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-outline">
        <div class="card">
          <div class="card__header">
            <div class="card__picture">
              <div class="card__picture-overlay">&nbsp;</div>
              <img src="youtube.jpeg" width="370" height="230" alt="Apple Music Image">
            </div>
            <h3 class="heading-tertirary">
              <span>Youtube</span>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary btn-sub">View More >></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-outline">
        <div class="card">
          <div class="card__header">
            <div class="card__picture">
              <div class="card__picture-overlay">&nbsp;</div>
              <img src="hulu.jpeg" width="370" height="230" alt="Apple Music Image">
            </div>
            <h3 class="heading-tertirary">
              <span>Hulu</span>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary btn-sub">View More >></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 card-outline">
        <div class="card">
          <div class="card__header">
            <div class="card__picture">
              <div class="card__picture-overlay">&nbsp;</div>
              <img src="hbo.jpeg" width="370" height="230" alt="Apple Music Image">
            </div>
            <h3 class="heading-tertirary">
              <span>HBO</span>
            </h3>
          </div>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary btn-sub">View More >></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 footer">
          <footer class="fixed-bottom">&copy; 2019 All rights reserved</footer>
        </div>
      </div>
    </div>
</body>


</html>